@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	min-height: 1200px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left__side {
	position: relative;
	background: #003147;
	padding: 40px;
}

.code__example pre {
	width: 370px;
}

.profile__text {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile__text .img__bx {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profile__text .img__bx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile__text h2 {
	color: #fff;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profile__text h2 span {
	font-size: 0.7em;
	font-weight: 300;
}

.contact__info {
	padding-top: 40px;
}

.title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.contact__info ul {
	position: relative;
}

.contact__info ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.contact__info ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #03a9f4;
}

.contact__info ul li .text {
	color: #fff;
	font-weight: 300;
}

.container .right__side {
	position: relative;
	background: #fff;
	padding: 40px;
}

img {
	width: 200px;
}

.contact__info-language h3 {
	margin-top: 69px;
}

.contact__info-language .percent {
	position: relative;
	width: 100%;
	height: 6px;
	background: #081921;
	display: block;
	margin-top: 5px;
}

.contact__info-language .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}

.contact__info-language ul li .text {
	color: white;
}

.logo img {
	margin-top: 65px;
}

.logo p {
	color: #fff;
	margin-left: 65px;
}

.Courses__info h3 {
	margin-top: 80px;
}

.Courses__info li {
	color: white;
	margin-bottom: 10px;
	font-weight: 300;
}

.about {
	margin-bottom: 50px;
}

.about:last-child {
	margin-bottom: 0;
}

.title2 {
	color: #003147;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

P {
	color: #333;
	font-weight: 500;
}

ul.nodec {
	list-style: none;
}

.right__side p {
	margin-bottom: 20px;
}

.right__side li {
	margin-left: 20px;
}

.code__example .title2 {
	margin-top: 30px;
}

pre {
	background-color: #c0cee2;
}

.link {
	color: black;
	text-decoration:  underline;
}
